.footer_nav{
  float: left;
  color: #fff;
  list-style-type: none;
  margin-right: 50px;
  width: 150px;
}

.footer_nav span {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  font-family: 'Boblic',"PT Sans", Arial, serif;
}

.footer_nav li{
  font-size: 14px;
  text-transform: none;
  margin: 5px 0;
  color: #fff;
  font-family: 'Boblic',"PT Sans", Arial, serif;
  list-style-type: none;
  font-weight: bold;
}

.footer_nav li a#nav_footer_active {
  color: #fff;
  list-style-type: none;
}

.footer_nav .active a{
  color: #fff;
  list-style-type: none;
}

.footer_nav li a{
  color: #CC1558;
  text-decoration: none;
}

.footer_nav li a:hover{
  text-decoration: underline;
}