.copyright
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #aaa;
  margin: 20px 0;

.big-circle-image
  width 200px
  height 200px
  overflow hidden
  border-radius 200px
  float left
  margin-right 50px
  & img
    width 200px

.callback
  float right
  width 300px

.float-left
  float left
  margin-bottom 20px

.float-right
  float right
  margin-bottom 10px